* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@media (max-width: 600px) {
  html {
    font-size: 65%;
  }
}

#welcome-section {
  height: 100vh;
  display: flex;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

html {
  box-sizing: border-box;
}
